#main-grid{
    display: grid;
    grid-template-areas: 
    "headline headline student-picture" 
    "student-profile student-quote student-contact";
    grid-template-columns: 1fr, 1fr, 1fr;
    
}
#experience-grid{
    display: grid;
    grid-template-areas: 
    "experience-grid";

}
#headline{
    grid-area: headline;
}
#student-picture{
    grid-area: student-picture;
}
